{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<br><br>
<div class="container">
    <br/>
    {% if form.instance.pk %}
    <h1>Edit source</h1>
    {% else %}
    <h1>Add source</h1>
    {% endif%}
    <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <br/>
        <button type="submit" style="width:200px">add</button>
    </form>
</div>

<script>
$(document).ready(function(){

    $("#id_tagged_companies").select2({
        ajax: {
            url: "{% url 'company_autocomplete' %}",
            dataType: "json",
            delay: 250,
            data: function(params) {
                return {
                    term: params.term
                };
            },
            processResults: function(data) {
                return {
                    results: data.results
                };
            },
            cache: true
        },
        minimumInputLength: 2,
        placeholder: "Search companies",
        multiple: true,
        width: "100%"
    });
});
</script>
{% endblock %}