{% extends "base.html" %}

{% block content %}

<div style="display:flex; justify-content:space-between; align-items:center;">
  <h1>Source List</h1>

  <a href="{% url 'add_source' %}">
    <button style="width:200px">+ add new source</button>
  </a>
</div>
<form method="GET" action="{% url 'source_list' %}" class="mb-3">
    <div class="input-group">
    <input
        type="text"
        id="source-search"
        name="q"
        placeholder="Search sources..."
        value="{{ request.GET.q }}"
        class="form-control"
        autocomplete="off"
    >
    <button type="submit" class="btn btn-primary">
            Search
        </button>
    </div>
    <div id="source-suggestions" class="list-group position-absolute w-100"></div>
</form>
<br/>
<table >
    <thead>
        <tr>
            <th style="width:30%">Title</th>
            <th style="width:35%">URL</th>
            <th style="width:25%">Tagged Companies</th>
            <th style="width:10%">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for source in sources %}
        <tr>
            <td>{{ source.name }}</td>
            <td>
                <a href="{{ source.url }}" target="_blank">
                    Source rss
                </a>
            </td>
            <td>
                {% for company in source.tagged_companies.all %}
                    {{ company.name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    No companies
                {% endfor %}
            </td>
            <td>
                {% if request.user.is_staff or source.created_by == request.user %}
                <a href="{% url 'edit_source' source.id %}">
                <button>Edit</button>
                </a>

                <a href="{% url 'delete_source' source.id %}">
                <button>Delete</button>
                </a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No sources available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/>
<script>
$(function(){

    $("#source-search").on("keyup", function(){

        let query = $(this).val();

        if(query.length < 2){
            $("#source-suggestions").empty();
            return;
        }

        $.ajax({
            url: "{% url 'source_autocomplete' %}",
            data: { q: query },

            success: function(data){

                let suggestions = "";

                data.results.forEach(function(source){

                    suggestions += `
                        <a href="${source.url}"
                           class="list-group-item list-group-item-action"
                           target="_blank">
                           ${source.name}
                        </a>
                    `;
                });

                $("#source-suggestions").html(suggestions);
            }
        });

    });

});
</script>
{% endblock %}