<button class="create-btn" (click)="createSource()">+ Create Source</button>

<div class="search-bar">
  <input
    type="text"
    placeholder="Search sources..."
    [formControl]="searchControl"
    class="search-input"
  />
  <button (click)="onSearch()">Search</button>
</div>

@if (loading) {
  <div>Loading...</div>
} @else {

  @if (sources.length === 0) {
    <div>No sources found.</div>
  } @else {

    @for (source of sources; track source.id) {
      <div class="card">
        <h3>{{ source.name }}</h3>
        <p><strong>URL:</strong> {{ source.url }}</p>

        <p>
          <strong>Company:</strong>
          {{ source.company.name }}
        </p>

        <div>
          <strong>Tagged Companies:</strong>

          @if (source.tagged_companies.length) {
            <ul>
              @for (c of source.tagged_companies; track c.id) {
                <li>{{ c.name }}</li>
              }
            </ul>
          } @else {
            <span>No tags</span>
          }
        </div>
        @if (source.is_owner || source.is_staff) {
        <button class="edit-btn" (click)="editSource(source.id)">Edit</button>
        <button class="delete-btn" (click)="deleteSource(source.id)">Delete</button>
      }
      </div>
    }

  }

  <!-- ✅ paginator should be inside else -->
  <mat-paginator
    [length]="totalItems"
    [pageSize]="10"
    [pageSizeOptions]="[]"
    (page)="onPageChange($event)">
  </mat-paginator>

}