{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<br><br>
<div class="container">
    <br/>
    <h1>Create Account</h1>
    <br/>
    <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
        <br/>
    <button type="submit">Signup</button>

    </form>

    <p>
    Already have an account?
    <a href="{% url 'signin' %}">Login</a>
    </p>
</div>
<script>
$(document).ready(function(){

    $("#id_company").select2({
        ajax: {
            url: "{% url 'company_autocomplete' %}",
            dataType: "json",
            delay: 250,
            data: function(params) {
                return {
                    term: params.term
                };
            },
            processResults: function(data) {
                return {
                    results: data.results
                };
            },
            cache: true
        },
        minimumInputLength: 2,
        placeholder: "Search companies",
        multiple: false,
        width: "100%"
    });

});
</script>

{% endblock %}