{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<br><br>
<div class="container">
    <br/>
    <h1>Add Story</h1>
    <br/>
    <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <br/>
            <button type="submit" style="width:300px">Add story</button>
    </form>
</div>
<script>
$(document).ready(function(){

    $("#id_tagged_companies").select2({
        ajax: {
            url: "{% url 'company_autocomplete' %}",
            dataType: "json",
            delay: 250,
            data: function(params) {
                return {
                    term: params.term
                };
            },
            processResults: function(data) {
                return {
                    results: data.results
                };
            },
            cache: true
        },
        minimumInputLength: 2,
        placeholder: "Search companies",
        multiple: true,
        width: "100%"
    });

});
</script>

{% endblock %}